# Credentials and env
.env
.env.cicd

credentials/*.json
credentials/*.yml

# Terraform directories and files
.terraform/
*.terraform.lock.hcl
*.tfvars
tfplan*
*.tfstate
*.tfstate.*
*.tfvars
.iac-env

# dbt setup
logs/

# local lightdash
lightdash

data/
