config:
  send_anonymous_usage_stats: false

$DBT_PROJECT:
  outputs:
    dev:
      dataset: $DBT_DATASET
      job_execution_timeout_seconds: 300
      job_retries: 1
      keyfile: ../credentials/dbt-sa-creds.json
      location: EU
      method: service-account
      priority: interactive
      project: $PROJECT
      threads: 4
      type: bigquery
  target: dev
